li.list-item-DayTemplate{
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid blue;
  display: inline-block;
  margin: 5px;
  list-style: none;
}

li.DayTemplate{
  list-style: none;
  border: 1px solid blue;
  padding: 5px;
}

.DayTemplate li.edit-attr{
  border: 1px solid green;
  list-style: none;
  padding: 5px;
  min-height: 120px;
}