body{
	    font: 400 12px/1.5 "Open Sans",sans-serif;
	    margin:0px;
      margin-top: 60px;
}

input, textarea{
  font: 400 12px/1.5 "Open Sans",sans-serif;
}


div.item-big{
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 5px;
}

li.edit-attr{
	list-style: none;	
}

.pp-hidden-attr{
  display: none;
}

.edit-attr input, .edit-attr select{
	width: 400px;
	text-align: center;
	font-size: 16px;
	border: none;
	background-color: #eee;
}

li.edit-attr ul, li.edit-attr div.label, .has-many-options{
  display: inline-block;
  vertical-align: top;
}

li.has-many-options{
  margin-left:-20px;
}

ul.list{
  
}

.edit-attr div.label{
  width: 150px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
   font-size: 1.1em;
   height: 100%;
}

li.edit-attr{
  margin: 5px;
  margin-bottom: 15px;
}

a.ui-combobox-toggle, input, select{
	height: 26px;
	padding: 2px;	
	vertical-align: top;
}

span.ui-state-hover{
	background-color: green;
}

#steps, ul.structure, .item-big-container, .item-big{
	margin: 0px;
	padding: 0px;	
}


#steps{
	margin-bottom: 5px;
}


li{
	border-radius: 5px;
}

button{
	margin: 5px;
}



#body-container{
	margin-left: 5px;
}


div.scrolling{
  background-color:white;
  border-bottom: 1px solid #eee;
  position: fixed; 
  width: 100%;
  height: 60px;
  opacity: 0.6;
  top:0px;
}

nav {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 100;
}
nav a {
    border-right: 1px dotted #EEEEEE;
    margin: 0 5px;
    padding-right: 15px;
}
nav a:last-child {
    border-right: medium none;
}
nav a.active {
    color: #353535;
    font-weight: bold;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

a {
    color: #259DFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav a {
    color: #7B838A;
}


#err-zone{
	background-color: red;
	font-size: 3em;
	padding: 20px;
  text-align: center;
	color:white;
	display: none;
  opacity: 0.8;
}

#message-zone{
  background-color: green;
  font-size: 1.0em;
  padding: 5px;
  text-align: center;
  color:white;
  display: none !important;
  opacity: 0.8;
  width: 100%;
  position: absolute;
  top:0px;

}

h1{
  margin: 0px;
  font-size: 14px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}


#empty{
  display: none;
}

ul.list {
  padding-left: 20px;
  margin:0px;
}

li.list-item a{
 /* list-style: none;*/
 font-size: 1.2em;
}



li.item-actions, li.item-name{
  list-style: none;
}

li.item-name{
  text-align: center;
  font-size: 1.2em;
}

ul.edit-list{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

button.item-action, ul.edit-list{
  display: inline-block;
  vertical-align: top;
}

button.controller-action{
  display: inline-block;
}
h1.controller-name{
  display: inline-block;
}

table.fillDay th.day{
  width: 40%;
}

table.fillDay{
  border-collapse: collapse;
  width: 100%;
  /*margin-top: 60px;*/
}
table.fillDay td, table.fillDay th{
  border: 1px solid #eee;
  padding: 10px;
  height: 50px;
  vertical-align: top;  
}

input.search{
  width: 100%;
}

textarea.activities{
  resize:none;
  width: 100%;
  background-color: #eee;
  border: none;
  height: 100px;
}




table.calendar{
  width: 100%;
}

table.calendar th{
  width: 14.28%;
  border-collapse: collapse;
}
table.calendar td{
  height: 80px;
  vertical-align: top;
}

table.calendar td div.header{

  width: 100%;
  
  font-size: 0.9em;
}

table.calendar th, table.calendar td{
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.small{
  font-size: 0.8em;
}

ul.small{
  margin: 0px;
  padding: 0px;
}

ul.small li{
  list-style: none;
}

.day-header{
  margin-bottom: 5px;
}


.item-action-delete{
  float :right;
}

.pp-search-zone li{
 display: inline-block;
 margin:5px;
}



.list-item-Day{
  min-width: 140px;
  min-height: 80px;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 5px;
  margin:2px;
  vertical-align: top;
}