!!! 5
html
  head
  
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js');
    script(type='text/javascript', src='/js/underscore.js')
    script(type='text/javascript', src='http://haineault.com/media/jquery/ui-timepickr/page/jquery.utils.js');
    script(type='text/javascript', src='http://haineault.com/media/jquery/ui-timepickr/page/jquery.strings.js');
    script(type='text/javascript', src='http://haineault.com/media/jquery/ui-timepickr/page/jquery.ui.all.js');
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/ui.timepicker.js');
    link(rel='stylesheet', href='http://haineault.com/media/jquery/ui-timepickr/src/css/ui.timepickr.css');
    link(rel='stylesheet', href='http://haineault.com/media/jquery/ui-timepickr/dist/themes/default/ui.core.css');
    script(type='text/javascript', src='/js/main.js');
    script(type='text/javascript', src='/js/dayTemplate.js');
    link(rel='stylesheet', href='/css/main.css')
    title= title
body
  h1 Journées Types
  div(id='skills')
  div(id='dayTemplates')
  button(id='addDayTemplate') Ajouter une journée type
  ul(id='DayTemplates')
