!!! 5
html
  head
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext")
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js');
    script(type='text/javascript', src='/js/jquery-ui.min.js');
    script(type='text/javascript', src='/js/jquery-ui.datepicker-fr.js');

    


    script(type='text/javascript', src='/js/underscore.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/ControllerView.js')
    script(type='text/javascript', src='/js/ControllerViewUpdate.js')
    script(type='text/javascript', src='/js/ControllerViewGet.js')
    script(type='text/javascript', src='/js/ControllerViewCreateDOM.js')
    script(type='text/javascript', src='/js/ControllerViewTools.js')
    script(type='text/javascript', src='/js/ControllerViewSearch.js')

    script(type='text/javascript', src='/js/calendar/calendarTable.js')
    script(type='text/javascript', src='/js/ViewFillDay.js')
    script(type='text/javascript', src='/js/ViewCalendar.js')
    script(type='text/javascript', src='/js/Controllers.js')
    script(type='text/javascript', src='/js/PetitPoids.js')
    script(type='text/javascript', src='/js/main.js')

    script(type='text/javascript', src='/js/jquery-ui-timepicker-addon.js')
    script(type='text/javascript', src='/js/jquery-ui-sliderAccess.js')
    
    link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.css')
    link(rel='stylesheet', href='/css/themes/default/jquery-ui.css')


        
    script(type='text/javascript')
      var G_CONTROLLER = '#{controller}';
    link(rel='stylesheet', href='/css/main.css')
    title= title
body
    div(id='top-menu-container')
    div(id='err-zone')
    div(id='message-zone')
    div(id='body-container')
    div(id='empty')